
    {% extends 'base.html' %}
    {% block content %}

    <div class="form-group container">
        <h1>Login</h1>
       <form action="" method="post" novalidate>

        {% csrf_token %}
        {% for field in form %}
        {{field.label}} <br>
        {{field}} {% if field.errors %} {{field.errors}} {% endif %} <br> 
        {% endfor %}
    
            
        <input type="submit" class="btn btn-primary">
    </form> 
    <a href="{% url 'password_reset' %}" > Forgot Password? </a>
    </div>
    

    {% endblock %}
