{% extends 'base.html' %}
{% block content %}
    <h1>Reset Password</h1>
    
    <form action="{{ protocol }}://{{ localhost:8000 }}{% url 'password_reset_confirm' uidb64=uid token=token %}" method="post" novalidate>
        {% csrf_token %}
        <!-- {% csrf_token %}
        {% for field in form %}
        {{field.label}} <br>
        {{field}} {% if field.errors %} {{field.errors}} {% endif %} <br> 
        {% endfor %} -->
        
            {{form.as_p}}
        <input type="submit">
    </form>
    {% endblock %}