{% extends 'base.html' %}
{% block content %}
<div class="form-group container">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <!-- {% if field.error %}
        {{form.error}}
        {% endif %} -->
        {{field.label}} <br>
        {{field}} {% if field.errors %} {{field.errors}} {% endif %} <br> 
        {% endfor %}
        <input type="submit" name="" id="" class="btn btn-primary" value="SignUp">
    </form>
</div>
{% endblock %}