{% extends 'base.html' %}
{% block content %}
    <h1>User List</h1>
    <ul>
        {% for user in object_list %}
        <li style="padding: 5px;list-style:decimal;">
           <a href="{% url 'user_detail' user.pk %}" style="text-decoration:none;color:rgb(0, 0, 0);">{{user}}</a> 
            {% endfor %}
        </li>
    </ul>
    
    <!-- <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fields in form %}
        {% if fields.error %}
        {{form.error}}
        {% endif %}
        {{fields.label}} <br>
        {{fields}} {% if fields.errors %} {{fields.errors}} {% endif %} <br> 
        {% endfor %}
        Confirm Password  <br>
        <input type="password" name="cpassword" value="" maxlength="40" required id="id_username">{% if password_err %}<li> {{password_err}}</li> {% endif %} <br>
        <input type="submit" name="" id="">
    </form> 
-->
{% endblock %}