{% extends 'base.html' %}
{% block title %}
{{myuser.username}} Detail
{% endblock %}
{% block content %}
<div class="container">
    <h1>User List</h1>
   
        <h4>Username - {{myuser}}</h4>
        <ul>
            <li>First Name-{{myuser.fname}}</li>
            <li>Last Name - {{myuser.lname}}</li>
            <li>Email ID - {{myuser.email}}</li>
        </ul>
        {% if myuser == user%}
        <a href="{% url 'user_delete' myuser.pk %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'user_update' %}" class="btn btn-info"> Update </a>
        {% endif %}
        
        
    <!-- <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fields in form %}
        {% if fields.error %}
        {{form.error}}
        {% endif %}
        {{fields.label}} <br>
        {{fields}} {% if fields.errors %} {{fields.errors}} {% endif %} <br> 
        {% endfor %}
        Confirm Password  <br>
        <input type="password" name="cpassword" value="" maxlength="40" required id="id_username">{% if password_err %}<li> {{password_err}}</li> {% endif %} <br>
        <input type="submit" name="" id="">
    </form> 
--></div>
{% endblock %}